{% extends 'core/base.html' %}
{% block contenido %}
    <h2>Categoría - Lista</h2>
    <ul>
        {% for categoria in categorias %}
            <li>
                {{ categoria.id }} {{ categoria.nombre }}
                <a href="#">Ver</a>
                <a href="{% url 'producto:categoria_update' categoria.id %}">Editar</a>
                <a href="#">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'producto:home' %}">Volver</a>
    </div>
{% endblock contenido %}
