{% extends 'core/base.html' %}
{% block contenido %}
    <h2>Categoría - Lista</h2>
    <button><a href="{% url 'producto:categoria_create' %}">Crear</a></button>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <a href="{% url 'producto:categoria_detail' categoria.id %}">Ver</a>
                        <a href="{% url 'producto:categoria_update' categoria.id %}">Editar</a>
                        <a href="{% url 'producto:categoria_delete' categoria.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No hay registros.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{% url 'producto:home' %}">Volver</a>
    </div>
{% endblock contenido %}
