{% extends 'core/base.html' %}
{% block contenido %}
    <h2>Producto - Lista</h2>
    <ul>
        {% for producto in object_list %}
            <li>
                {{ producto.nombre }}
                <a href="{% url 'producto:producto_detail' producto.id %}">Ver</a>
                <a href="{% url 'producto:producto_update' producto.id %}">Editar</a>
                <a href="{% url 'producto:producto_delete' producto.id %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay registros.</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'producto:home' %}">Volver</a>
    </div>
{% endblock contenido %}
