{% extends 'core/base.html' %}

{% block contenido %}
    <main>
        <h2>Django</h2>
        <ul>
            <li>Es un framework moderno para crear aplicaciones web</li>
            <li>Su comunidad mundial es muy grande</li>
            <li>Hay miles de herramientas para no reinventar la rueda</li>
        </ul>
        <ol>
            <li><a href="{% url 'producto:home' %}">Producto</a></li>
        </ol>
    </main>
    <footer>Hecho en el año {{ año }} - Autor: {{ autor }}</footer>
{% endblock contenido %}